Repository VortexITSMQ/VortexOverUnder2023, pull requests merged in 2023-09, with the labels that each got.

#15 Add controll configuration for motors and recollector
  Robot15/Robot15.v5code
  Robot15/compile_commands.json
  Robot15/include/robot-config.h
  Robot15/include/vex.h
  Robot15/makefile
  Robot15/src/main.cpp
  Robot15/src/robot-config.cpp
  Robot15/vex/mkenv.mk
  Robot15/vex/mkrules.mk
Labels: Robot15, engine

#17 Update README.md
  README.md
Labels: github

#19 Fix direction
  Robot15/build/Robot15.bin
  Robot15/build/Robot15.elf
  Robot15/build/Robot15.map
  Robot15/build/src/main.o
  Robot15/build/src/robot-config.o
  Robot15/src/robot-config.cpp
Labels: bug, Robot15, engine

#21 Created gitignore file
  .gitignore
  Robot15/Robot15.v5code
  Robot15/build/Robot15.bin
  Robot15/build/Robot15.elf
  Robot15/build/Robot15.map
  Robot15/build/src/main.o
  Robot15/build/src/robot-config.o
  Robot15/compile_commands.json
Labels: github

#23 Adding function to control velocity
  Robot24/Robot24.v5code
  Robot24/include/robot-config.h
  Robot24/include/vex.h
  Robot24/makefile
  Robot24/src/main.cpp
  Robot24/src/robot-config.cpp
  Robot24/vex/mkenv.mk
  Robot24/vex/mkrules.mk
Labels: Robot24
