Repository VortexITSMQ/VortexOverUnder2023, pull requests merged in 2023-10, with the labels that each got.

#25 add function for catapult
  Robot15/Robot15.v5code
  Robot15/compile_commands.json
  Robot15/include/robot-config.h
  Robot15/src/robot-config.cpp
Labels: Robot15

#27 Add configuration for the recollector
  Robot24/include/robot-config.h
  Robot24/src/robot-config.cpp
Labels: Robot24

#30 Add comments to all the code
  Robot24/include/robot-config.h
  Robot24/src/main.cpp
  Robot24/src/robot-config.cpp
Labels: Robot24

#33 28 robot15 colector code
  Robot15/src/robot-config.cpp
Labels: Robot15

#36 35 all merge to main
  .github/ISSUE_TEMPLATE/vortex-issue-template.md
  .gitignore
  README.md
  Robot15/Robot15.v5code
  Robot15/compile_commands.json
  Robot15/include/robot-config.h
  Robot15/include/vex.h
  Robot15/makefile
  Robot15/src/main.cpp
  Robot15/src/robot-config.cpp
  Robot15/vex/mkenv.mk
  Robot15/vex/mkrules.mk
  Robot24/Robot24.v5code
  Robot24/include/robot-config.h
  Robot24/include/vex.h
  Robot24/makefile
  Robot24/src/main.cpp
  Robot24/src/robot-config.cpp
  Robot24/vex/mkenv.mk
  Robot24/vex/mkrules.mk
Labels: Robot15, Robot24
